.profile {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .profile .space,
  .profile h2.title,
  .profile .title-container {
    margin-bottom: 20px !important;
  }
  
  .profile-details {
    margin-top: 20px;
  }
  
  .profile-details p {
    margin-bottom: 10px;
  }
  
  .loading, .error {
    @apply w-full; /* Apply full width */
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .error {
    color: red;
  }
  